<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>499406615424-d4elcpkl46pmlnpbo2r6p4daf2avhkbs.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.499406615424-d4elcpkl46pmlnpbo2r6p4daf2avhkbs</string>
	<key>API_KEY</key>
	<string>AIzaSyC2AtsoNq3biiZWiCmXqu9rkDi_UCVnTyM</string>
	<key>GCM_SENDER_ID</key>
	<string>499406615424</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.agileminds.classicgarage</string>
	<key>PROJECT_ID</key>
	<string>classic-garage-164c2</string>
	<key>STORAGE_BUCKET</key>
	<string>classic-garage-164c2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:499406615424:ios:4860d94d189153a67d4765</string>
</dict>
</plist>